


               table#_header-section ,
               table#_double_section  {
                   width: 600px;
                   margin: 0 auto;
               }

               table._header-section {
                   width: 100%;
                   margin: 0 auto;
               }

               table._section-title {
                   width: 100%;
                   margin: 0 auto;
                   max-width: 600px;
               }

              ._header-cta:hover{ background-color:#333; }
            

               .active {
                   color: #464647 !important;
                   background-color: #fff !important;
                   border: 2.5px solid #464647;
               }
        div, h1 {
             font-family: 'tungsten', sans-serif ;
        }
       [style*="tungsten"] { font-family: 'tungsten', 'Helvetica', serif !important; }
        
      
                @media only screen and (max-width:599px) {
              .desktop-width-33pc { width:33.33% !important; }
              .desktop-width-50pc { width:50% !important; }
              .desktop-image-width { width:90% !important; }    
              .desktop-height-50pc  { height:50% !important; }      
               td {padding: 32px 0 0 !important;}
            
                }
                


               @media only screen and (max-width: 599px) {

                   table#_header-section ,
                   table#_double_section  {
                       width: auto !important;
                       margin: 0 auto !important;
                   }

                   ._header-cta,
                   ._body-cta {
                       width: 83% !important;
                       margin: 32px auto 16px !important;
                   }

                    h1, h3{
                       margin: 32px 0px 0px  !important;
                       padding: 0 !important;
                     }

                   p {
                       margin: 16px 0px !important;
                       padding: 0 !important;
                     }

                     table._body-image img{
                       margin:32px 0px 0px !important;
                       padding: 0px !important;
                       width: 100% !important;
                     }
                     td._footer_block{
                      width: 100% !important;
                           }
                   
               }
